#header1-0 H1 {
  text-align: left;
  font-size: 84px;
  color: #ffffff;
}
#header1-0 P {
  color: #ffffff;
  font-size: 32px;
}
#features1-8 H4 {
  font-size: 15px;
}
#dropdown-menu-2btn-d .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-d .nav .link,
#dropdown-menu-2btn-d .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-d .navbar,
#dropdown-menu-2btn-d .dropdown-menu {
  background: #f4f4f4;
}
#dropdown-menu-2btn-d .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-d .dropdown-menu a:hover,
#dropdown-menu-2btn-d .dropdown-menu a:focus {
  background: #eaeaea;
}
#dropdown-menu-2btn-d .navbar-toggler {
  color: #000000;
}
#msg-box1-4 .btn {
  font-size: 16px;
}
#msg-box4-6 .lead P {
  font-size: 14px;
}
#dropdown-menu-2btn-j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-j .nav .link,
#dropdown-menu-2btn-j .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-j .navbar,
#dropdown-menu-2btn-j .dropdown-menu {
  background: #f4f4f4;
}
#dropdown-menu-2btn-j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-j .dropdown-menu a:hover,
#dropdown-menu-2btn-j .dropdown-menu a:focus {
  background: #eaeaea;
}
#dropdown-menu-2btn-j .navbar-toggler {
  color: #000000;
}
#header3-k I {
  font-size: 16px;
}
#testimonials1-c .card-block P {
  text-align: left;
  font-size: 16px;
}
#dropdown-menu-2btn-e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-e .nav .link,
#dropdown-menu-2btn-e .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-e .navbar,
#dropdown-menu-2btn-e .dropdown-menu {
  background: #f4f4f4;
}
#dropdown-menu-2btn-e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-e .dropdown-menu a:hover,
#dropdown-menu-2btn-e .dropdown-menu a:focus {
  background: #eaeaea;
}
#dropdown-menu-2btn-e .navbar-toggler {
  color: #000000;
}
#msg-box4-h .mbr-section-title {
  text-align: left;
}
#msg-box4-h .lead P {
  text-align: left;
}
#msg-box4-i .mbr-section-title {
  text-align: left;
}
#msg-box4-i .lead P {
  text-align: left;
}
#dropdown-menu-2btn-n .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-n .nav .link,
#dropdown-menu-2btn-n .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-n .navbar,
#dropdown-menu-2btn-n .dropdown-menu {
  background: #f4f4f4;
}
#dropdown-menu-2btn-n .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-n .dropdown-menu a:hover,
#dropdown-menu-2btn-n .dropdown-menu a:focus {
  background: #eaeaea;
}
#dropdown-menu-2btn-n .navbar-toggler {
  color: #000000;
}
