<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="assets/css/prize_style.css">
    <!-- Our application/controller definitions -->
	 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script src="assets/js/pride_display.js"></script>
  <title>Layered Card Hover</title>
</head>
<body>
  <div ng-app="CrisApp">
    <div ng-controller="AppController">
	
  <div class="box">
 
        <div ng-repeat="card in cards">
		<div  class="card"  >
           <div class="imgBx">
          <img  src="{{ card.link }}"/>
		  </div>

		  <div class="details">
          {{card.Name}} <br />
            {{card.Occupation}} <br />
            {{card.Employer}}
			 </div>
           
        </div>
      <br />
	  </div>
      <span class="reset" ng-click="setCards()">Reset</span>
    </div>
</div>
	</div>
  </div>
  
  
  
  
</body>
</html>